# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.envrc
venv/
.venv/

# Editors/IDE
.vscode/
.idea/

# Node/Next
node_modules/
.next/
out/
.turbo/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
